@model CheckoutViewModel
@{
    ViewData["MetaTitle"] = "Đặt hàng | Rèm Đức Trung";
    ViewData["MetaKeywords"] = "Đặt hàng";
    ViewData["MetaDescription"] = "Đặt hàng | Rèm Đức Trung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
    @await Html.PartialAsync("_ValidationScriptsPartial") 
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a href="/" title="Trang chủ">Trang chủ</a> <span>/</span> </li>
                    <li> <strong>Đặt hàng</strong> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- main-container -->
<div class="main-container col1-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-12 col-xs-12">
                <div class="col-main">
                    <div class="page-title">
                        <h1>Đặt hàng</h1>
                    </div>
                    <div class="page-content checkout-page">
                        @if (ViewData["Success"] != null)
                        {
                            @if ((bool)ViewData["Success"] == true)
                            {
                                <div class="alert alert-success">
                                    Cảm ơn vì đã đặt hàng. Chúng tôi sẽ phản hồi lại bạn sớm nhất!!!
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Đã có lỗi trong lúc đặt hàng. Xin vui lòng liên hệ lại với chúng tôi!!!
                                </div>
                            }

                        }
                        else
                        {
                            <form action="/dat-hang" method="post">
                                @Html.AntiForgeryToken()
                                @*<h3 class="checkout-sep">1. Phương thức đặt hàng</h3>
                                <div class="box-border">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2>Đặt hàng như Khách vãng lai hoặc Tài khoản Khách hàng</h2>
                                            <p>Đăng ký để đặt hàng dễ hơn</p>
                                            <ul>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="radio1" checked="checked">
                                                        Đặt hàng như Khách vãng lai
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="radio1">
                                                        Đặt hàng như Tài khoản Khách hàng
                                                    </label>
                                                </li>
                                            </ul>
                                            <br>
                                            <h3>Đăng ký tiết kiệm thời gian!</h3>
                                            <p>Đăng ký để đặt hàng dễ hơn:</p>
                                            <p><i class="fa fa-check-circle text-primary"></i> Đặt hàng nhanh hơn</p>
                                            <p><i class="fa fa-check-circle text-primary"></i> Dễ dàng xem trạng thái đơn hàng</p>
                                            <button class="button" onclick="window.location.href='/dang-ky'">Đăng ký</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <h2>Đăng nhập</h2>
                                            <p>Đã đăng ký tài khoản? Xin mời đăng nhập ở dưới:</p>
                                            <button class="button" onclick="window.location.href='/dang-nhap'">Đăng nhập</button>
                                        </div>
                                    </div>
                                </div>*@
                                <h3 class="checkout-sep">1. Thông tin hóa đơn</h3>
                                <div class="box-border">
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="full_name" class="required">Họ tên*</label>
                                                <input type="text" class="input form-control" asp-for="CustomerName">
                                            </div>
                                            <!--/ [col] -->
                                            <div class="col-sm-6">
                                                <label for="telephone" class="required">Số điện thoại*</label>
                                                <input class="input form-control" type="text" asp-for="CustomerMobile">
                                            </div>
                                            @*<div class="col-sm-6">
                                                    <label for="email_address" class="required">Email</label>
                                                    <input type="text" class="input form-control" asp-for="Customer">
                                                </div>*@
                                            <!--/ [col] -->
                                        </li>

                                        <li class="row">
                                            <div class="col-xs-12">
                                                <label for="address" class="required">Địa chỉ*</label>
                                                <input type="text" class="input form-control" asp-for="CustomerAddress">
                                            </div>
                                            <!--/ [col] -->
                                        </li>

                                        @*<li class="row">
                                                <div class="col-sm-6">
                                                    <label for="city" class="required">Tỉnh/Thành phố</label>
                                                    <input class="input form-control" type="text" name="" id="city">
                                                </div>
                                            </li>

                                            <li class="row">
                                                <div class="col-sm-6">
                                                    <label for="password" class="required">Mật khẩu</label>
                                                    <input class="input form-control" type="password" name="" id="password">
                                                </div>
                                                <!--/ [col] -->

                                                <div class="col-sm-6">
                                                    <label for="confirm" class="required">Xác nhận mật khẩu</label>
                                                    <input class="input form-control" type="password" name="" id="confirm">
                                                </div>
                                                <!--/ [col] -->
                                            </li>*@
                                    </ul>
                                </div>
                                <h3 class="checkout-sep">2. Thông tin giao hàng</h3>
                                <div class="box-border">
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="first_name" class="required">Họ tên</label>
                                                <input type="text" class="input form-control" asp-for="ShipName">
                                            </div>
                                            <!--/ [col] -->
                                            <div class="col-sm-6">
                                                <label for="telephone" class="required">Số điện thoại</label>
                                                <input class="input form-control" type="text" asp-for="ShipMobile">
                                            </div>
                                            @*<div class="col-sm-6">
                                                    <label for="email_address" class="required">Email</label>
                                                    <input type="text" class="input form-control" asp-for="Customer">
                                                </div>*@
                                            <!--/ [col] -->
                                        </li>

                                        <li class="row">
                                            <div class="col-xs-12">
                                                <label for="address" class="required">Địa chỉ</label>
                                                <input type="text" class="input form-control" asp-for="ShipAddress">
                                            </div>
                                            <!--/ [col] -->
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="checkout-sep">3. Phương thức giao hàng</h3>
                                <div class="box-border">
                                    <ul class="shipping_method">
                                        <li>
                                            <p class="subcaption bold">Giao hàng miễn phí</p>
                                            <label for="radio_button_3">
                                                <input type="radio" checked name="radio_3" id="radio_button_3">
                                                Miễn phí $0
                                            </label>
                                        </li>
                                        <li>
                                            <p class="subcaption bold">Giao hàng có phí</p>
                                            <label for="radio_button_4">
                                                <input type="radio" name="radio_3" id="radio_button_4">
                                                Phí chuẩn $5.00
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="checkout-sep">4. Thông tin thanh toán</h3>
                                <div class="box-border">
                                    <ul>
                                        @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                                        {
                                        <li>
                                            <label asp-for="@Model.PaymentMethods[i].Value">
                                                @if(i == 0){
                                                <input type="radio" checked="checked" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value" />
                                                }
                                                else{
                                                <input type="radio" name="paymentMethod" asp-for="PaymentMethod" value="@Model.PaymentMethods[i].Value" />
                                                }
                                                @Model.PaymentMethods[i].Name
                                            </label>
                                        </li>
                                        }
                                        @*<li>
                                                <label for="radio_button_5">
                                                    <input type="radio" checked name="radio_4" id="radio_button_5">
                                                    Check / Money order
                                                </label>
                                            </li>
                                            <li>
                                                <label for="radio_button_6">
                                                    <input type="radio" name="radio_4" id="radio_button_6">
                                                    Credit card (saved)
                                                </label>
                                            </li>*@
                                    </ul>
                                </div>
                                <h3 class="checkout-sep">5. Chi tiết đơn hàng</h3>
                                <div class="box-border">
                                    <div class="order-detail-content">
                                        <table class="table table-bordered table-responsive jtv-cart-summary">
                                            <thead>
                                                <tr>
                                                    <th class="cart_product">Sản phẩm</th>
                                                    <th>Mô tả</th>
                                                    <th>Đơn giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Tổng tiền</th>
                                                    <th class="action"><i class="fa fa-trash-o"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Carts.Count() > 0) {
                                                    @foreach (var item in Model.Carts)
                                                    {
                                                        <tr>
                                                            <td class="cart_product"><a href="/@item.ProductUrl/mau-rem=@item.ProductItem.Url" title="@item.ProductItem.Name">
                                                                <img src="@item.ProductItem.Image1" alt="@item.ProductItem.Name"></a></td>
                                                            <td class="cart_description">
                                                                <p class="product-name"><a href="/san-pham/@item.ProductItem.Url" title="@item.ProductItem.Name"> @item.ProductItem.Name </a></p>
                                                                <small class="cart_ref">Mã sản phẩm : @item.ProductItem.Code</small><br>
                                                                <small><a href="javascript:;">Màu : @item.ProductItem.ColorName</a></small><br>
                                                            </td>
                                                            @*<td class="cart_avail"><span class="label label-success">In stock</span></td>*@
                                                            <td class="price">
                                                                <span>
                                                                    @if (item.ProductItem.Price < item.ProductItem.OriginalPrice)
                                                                    {
                                                                        <p class="special-price"> <span class="price-label">Giá mới</span> <span class="price">@item.ProductItem.Price.ToString("N0")</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Giá cũ:</span> <span class="price">@item.ProductItem.OriginalPrice.ToString("N0")</span> </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="regular-price"> <span class="price">@item.ProductItem.Price.ToString("N0")</span> </span>
                                                                    }
                                                                </span>
                                                            </td>
                                                            <td class="qty">
                                                                <input class="form-control input-sm txtQuantity" id="txtQuantity" name="txtQuantity" type="number" value="@item.Quantity" min="1" disabled="disabled">
                                                                @*<a href="javascript:;" title="nút cộng số lượng"><i class="fa fa-plus"></i></a>
                                                                <a href="javascript:;" title="nút trừ số lượng"><i class="fa fa-minus"></i></a>*@
                                                            </td>
                                                            <td class="price"><span>@((item.Price * item.Quantity).ToString("N0"))</span></td>
                                                            <td class="action"><a href="javascript:;" class="remove-cart" data-id="@item.ProductItem.Id" title="Xóa sản phẩm">Xóa sản phẩm</a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                @*<tr>
                                                        <td colspan="2" rowspan="2"></td>
                                                        <td colspan="3">Total products (tax incl.)</td>
                                                        <td colspan="2">$355.00</td>
                                                    </tr>*@
                                                <tr>
                                                    <td colspan="3"><strong>Tổng tiền</strong></td>
                                                    <td colspan="2"><strong class="product-item-total">@Model.Carts.Sum(x => x.Quantity * x.Price).ToString("N0")</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="cart_navigation">
                                            <button class="button pull-right" type="submit">Đặt hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End main-container -->
