@using RicoCore.Models.ProductViewModels;
@model ListByCategoryViewModel
@{
    ViewData["MetaTitle"] = Model.Data.CurrentPage == 1 ? @Html.Raw(Model.MetaTitle) : @Html.Raw(Model.MetaTitle + " - Trang " + Model.Data.CurrentPage);
    ViewData["MetaKeywords"] = Model.Data.CurrentPage == 1 ? @Html.Raw(Model.MetaKeywords) : @Html.Raw(Model.MetaKeywords + " - Trang " + Model.Data.CurrentPage);
    ViewData["MetaDescription"] = Model.Data.CurrentPage == 1 ? @Html.Raw(Model.MetaDescription) : @Html.Raw(Model.MetaDescription + " - Trang " + Model.Data.CurrentPage);
    var categoryLink = "/"+ Model.CategoryUrl + ".html";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/client-app/controllers/product/listByCategory.js"></script>
    <script>
        var productObj = new ProductController();
        productObj.initialize();
    </script>
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a href="/" title="Trang chủ">Trang chủ</a> <span>/</span> </li>
                    <li> <a href="@categoryLink" title="@Model.CategoryName"><strong>@Model.CategoryName</strong> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <article class="col-main">
                    <h1 class="page-heading"> <span class="page-heading-title">@Model.CategoryName</span> </h1>
                    <div class="toolbar">
                        <div class="row">
                            @*<div class="col-md-4 col-sm-5">
                               <div class="btn-group">
                                    <div id="grid-view" class="btn btn-default active" data-toggle="tooltip" title="Grid"><a href="shop_grid.html"><i class="fa fa-th"></i></a></div>
                                    <div id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><a href="shop_list.html"><i class="fa fa-th-list"></i></a></div>
                                                    </div>
                                            <a href="so-sanh" id="compare-total">So sánh (3)</a>
                            </div>*@

                            <form action="@categoryLink" method="post">
                                @*<div class="col-sm-5 form-group text-left search">
                                    <div class="input-group">
                                        <input type="text" name="keyword" id="txtSearch" class="form-control" placeholder="Tìm kiếm theo tên hoặc mã...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" id="btn-search" type="button">Tìm kiếm!</button>
                                        </span>
                                    </div>
                                </div>*@

                                <div class="col-sm-3 text-left sort-by">
                                    @*<label class="control-label" for="input-sort">Sắp xếp theo:</label>*@
                                    <select class="form-control" name="sortBy" asp-for="SortType" onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                </div>

                                <div class="col-sm-4 text-left show-limit">
                                    @*<label class="control-label" for="input-limit">Hiển thị:</label>*@
                                    <select class="form-control" name="pageSize" asp-for="PageSize" onchange="this.form.submit()" asp-items="Model.PageSizes"></select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="category-products">
                        <ul class="products-grid">
                            @if (Model.Data.Results.Count() > 0)
                            {
                                @foreach (var item in Model.Data.Results)
                                {
                                    <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <div class="item-inner">
                                            <div class="item-img">

                                                <div>

                                                    @*<div class="item-img-info">*@
                                                    @if (item.ProductItems.Count() > 0)
                                                    {
                                                        <input type="hidden" class="hid-id" value="@item.ProductItems[0].Id" />
                                                        <input type="hidden" class="hid-url" value="@item.ProductItems[0].Url" />
                                                        <a class="product-image item-url" title="@item.ProductName" href="/@item.ProductUrl/mau-rem=@item.ProductItems[0].Url">
                                                            <img alt="@item.ProductItems[0].Name" src="@item.ProductItems[0].Image1">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="product-image" title="@item.ProductName" href="@item.ProductUrl"> <img alt="@item.ProductName" src="/client-side/images/products/img10.jpg?w=30"> </a>
                                                    }

                                                    @*<a class="product-image" title="@item.Product.Name" href="/@url"> <img alt="@item.Product.Name" src="/client-side/images/products/img10.jpg?w=30"> </a>*@
                                                    @*<a class="product-image" title="@item.Name" href="/@url"> <img alt="@item.Name" src="@item.Image"> </a>*@
                                                    @*<div class="jtv-box-hover">
                                    <ul class="add-to-links">
                                        <li><a class="link-quickview" href="xem-nhanh" title="Xem nhanh"><i class="icon-magnifier-add icons"></i><span class="hidden">Xem nhanh</span></a></li>
                                        <li><a class="link-wishlist" href="yeu-thich" title="Yêu thích"><i class="icon-heart icons"></i><span class="hidden">Yêu thích</span></a></li>
                                        <li><a class="link-compare" href="so-sanh" title="So sánh"><i class="icon-shuffle icons"></i><span class="hidden">So sánh</span></a></li>
                                    </ul>
                                </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title">
                                                        @if (item.ProductItems.Count() > 0)
                                                        {
                                                            <a class="item-url" title="@item.ProductName" href="/@item.ProductUrl/mau-rem=@item.ProductItems[0].Url"><h3>@item.ProductItems[0].Name</h3></a>
                                                        }
                                                        else
                                                        {
                                                            @*<a title="@item.Product.MetaTitle" href="@url">*@
                                                            <h3>@item.ProductName</h3>
                                                            @*</a>*@
                                                        }
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="colorList">
                                                            @*<input type="hidden" class="product-id" data-productid="@item.ProductId" />*@
                                                            <input type="hidden" class="product-url" data-producturl="@item.ProductUrl" />
                                                            @if (item.ProductItems.Count() > 0)
                                                            {
                                                                @foreach (var color in item.ProductItems)
                                                                {
                                                                    <div class="color-item">
                                                                        @if (color.SortOrder == 1)
                                                                        {
                                                                            <img class="pick-color borderimg" src="@color.ColorImage" alt="@color.Name" height="40" data-id="@color.Id" data-url="@color.Url" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="pick-color" src="@color.ColorImage" alt="@color.Name" height="40" data-id="@color.Id" data-url="@color.Url" />
                                                                        }
                                                                        @*<a href="/mau-rem/@color.Link" title="@color.ColorName">*@
                                                                        <span>@color.ColorName</span>
                                                                        @*</a>*@
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="code-item">
                                                            @if (item.ProductItems.Count() > 0)
                                                            {
                                                                <p>Mã: <span class="product-item-code"><strong>@item.ProductItems[0].Code</strong></span></p>
                                                            }
                                                        </div>
                                                        @*<div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>*@
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                @if (item.ProductItems.Count() > 0)
                                                                {
                                                                    @if (item.ProductItems[0].Price < item.ProductItems[0].OriginalPrice)
                                                                    {
                                                                        <p class="special-price"> <span class="price-label">Giá mới</span> <span class="price">@item.ProductItems[0].Price.ToString("N0")</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Giá cũ:</span> <span class="price">@item.ProductItems[0].OriginalPrice.ToString("N0")</span> </p>
                                                                    }                                                                                                                                        
                                                                    else
                                                                    {
                                                                        <span class="regular-price"> <span class="price">@item.ProductItems[0].Price.ToString("N0")</span> </span>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            @if (item.ProductItems.Count() > 0)
                                                            {
                                                                <button class="button btn-cart add-to-cart" type="button" data-original-title="Thêm vào giỏ hàng" data-id="@item.ProductItems[0].Id"><span>Thêm vào giỏ hàng</span> </button>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                }
                            }
                            </ul>
                    </div>



                    @*<div class="toolbar">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <ul class="pagination">
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">&gt;</a></li>
                                        <li><a href="#">&gt;|</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 text-right">Showing 1 to 15 of 25 (2 Pages)</div>
                            </div>
                        </div>*@
                </article>
                <!--	///*///======    End article  ========= //*/// -->
            </div>
        </div>
        <div class="row">
            @(await Component.InvokeAsync("PagerGroupProduct", Model.Data))
        </div>
    </div>
</section>
<!-- Main Container End --> 