@using RicoCore.Services.Systems.Menus.Dtos;
@model List<MenuViewModel>

<nav>
    <div class="container">
        <div class="mm-toggle-wrap">
            <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
        </div>
        <div class="nav-inner">
            <!-- BEGIN NAV -->
            <ul id="nav" class="hidden-xs">
                @if (Model.Count() > 0)
                {
                    var list = Model.Where(v => v.ParentId == null).OrderBy(v => v.SortOrder);
                    @foreach (var item in list)
                    {
                        var children = Model.Where(c => c.ParentId == item.Id).OrderBy(c => c.SortOrder);
                        @if (children.Count() > 0)
                        {
                            <li class="drop-menu">
                                <a href="javascript:;"> <span>@item.Name</span> </a>
                                <ul>
                                    @foreach (var child in children)
                                    {
                                        var descendants = Model.Where(z => z.ParentId == child.Id).OrderBy(z => z.SortOrder);
                                        @if (descendants.Count() > 0)
                                        {
                                            <li>
                                                <a href="/@child.Url"><span>@child.Name</span> </a>
                                                <ul>
                                                    @foreach(var descendant in descendants)
                                                    {
                                                        <li>
                                                            <a href="/@descendant.Url"><span>@descendant.Name</span></a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/@child.Url"><span>@child.Name</span> </a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            if (item.Url == "javascript:;")
                            {
                                <li class="mega-menu"> <a class="level-top" href="javascript:;"><span>@item.Name</span></a> </li>
                            }
                            else if (item.Url == "/")
                            {
                                <li class="mega-menu"> <a class="level-top" href="/"><span>@item.Name</span></a> </li>
                            }
                            else
                            {
                                <li class="mega-menu"> <a class="level-top" href="/@item.Url"><span>@item.Name</span></a> </li>
                            }                            
                        }
                    }
                }
            </ul>
        </div>
    </div>
</nav>

@*<nav>
    <div class="container">
        <div class="mm-toggle-wrap">
            <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
        </div>
        <div class="nav-inner">
         
            <ul id="nav" class="hidden-xs">
                <li class="mega-menu"> <a class="level-top" href="/"><span>Trang chủ</span></a> </li>
                <li class="drop-menu">
                    <a href="javascript:;"> <span>Tư vấn chọn rèm theo loại rèm</span> </a>
                    <ul>
                        <li> <a href="/rem-vai.html"> <span>Rèm vải</span> </a> </li>
                        <li> <a href="/rem-vai-roman.html"> <span>Rèm vải Roman</span> </a> </li>
                        <li><a href="/rem-cuon.html"><span>Rèm cuốn</span></a> </li>
                        <li> <a href="/rem-go.html"> <span>Rèm gỗ</span> </a> </li>
                        <li><a href="/rem-la-doc.html"><span>Rèm lá dọc</span></a> </li>
                        <li><a href="/rem-sao-nhom.html"><span>Rèm sáo nhôm</span></a> </li>
                        <li><a href="/rem-nhua.html"><span>Rèm nhựa</span></a> </li>
                    </ul>
                </li>
                <li class="drop-menu">
                    <a href="javascript:;"> <span>Tư vấn chọn rèm theo vị trí và không gian lắp đặt</span> </a>
                    <ul>
                        <li><a href="/tag/van-phong"> <span>Văn phòng</span> </a> </li>
                        <li><a href="/tag/phong-ngu"><span>Phòng ngủ</span></a> </li>
                        <li><a href="/tag/phong-tam"> <span>Phòng tắm</span> </a> </li>
                        <li><a href="/tag/phong-khach"><span>Phòng khách</span></a> </li>

                    </ul>
                </li>
                <li class="drop-menu">
                    <a href="javascript:;"> <span>Tư vấn chọn rèm theo màu sắc</span> </a>
                    <ul>
                        <li><a href="/tag/van-phong"> <span>Văn phòng</span> </a> </li>
                        <li><a href="/tag/phong-ngu"><span>Phòng ngủ</span></a> </li>
                        <li><a href="/tag/phong-tam"> <span>Phòng tắm</span> </a> </li>
                        <li><a href="/tag/phong-khach"><span>Phòng khách</span></a> </li>

                    </ul>
                </li>
                <li class="drop-menu">
                    <a href="javascript:;"> <span>Các trang đơn</span> </a>
                    <ul>
                        <li><a href="/trang/ve-chung-toi"> <span>Về chúng tôi</span> </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>*@


<!-- Menu-->
@*
    <nav>
        <div class="container">
            <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
            </div>
            <div class="nav-inner">
                <!-- BEGIN NAV -->
                <ul id="nav" class="hidden-xs">
                    <li class="drop-menu">
                        <a href="index.html" class="level-top active"><span>Home</span></a>
                        <ul>
                            <li><a href="../index.html"><span>Home Version 1</span></a></li>
                            <li><a href="../version2/index.html"><span>Home Version 2</span></a></li>
                            <li><a href="../version3/index.html"><span>Home Version 3</span></a></li>
                            <li><a href="index.html"><span>Home Version 4</span></a></li>
                        </ul>
                    </li>
                    <li class="drop-menu">
                        <a href="#"> <span>Pages</span> </a>
                        <ul>
                            <li class="sub-cat">
                                <a href="shop_grid.html"><span>Shop Grid</span></a>
                                <ul>
                                    <li> <a href="shop_grid_right.html"> <span>Shop Grid Right Sidebar</span> </a> </li>
                                    <li> <a href="shop_grid_fullwidth.html"> <span>Shop Grid Fullwidth</span> </a> </li>
                                </ul>
                            </li>
                            <li class="sub-cat">
                                <a href="shop_list.html"> <span>Shop List</span> </a>
                                <ul>
                                    <li> <a href="shop_list_right.html"> <span>Shop List Right Sidebar</span> </a> </li>
                                </ul>
                            </li>
                            <li> <a href="single_product.html"> <span>Single Product</span> </a> </li>
                            <li> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                            <li><a href="checkout.html"><span>Checkout</span></a> </li>
                            <li> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                            <li><a href="compare.html"><span>Compare</span></a> </li>
                            <li><a href="quick_view.html"><span>Quick View</span></a> </li>
                            <li><a href="404error.html"><span>404 Error Page</span></a> </li>
                        </ul>
                    </li>
                    <li class="mega-menu">
                        <a class="level-top" href="shop_grid.html"><span>Clutches</span></a>
                        <div class="jtv-menu-block-wrapper">
                            <div class="jtv-menu-block-wrapper2">
                                <div class="nav-block jtv-nav-block-center">
                                    <div class="col-1">
                                        <ul class="level0">
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>tassel saddle bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>bucket bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Travel Accessories</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Gym Bags</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Fashion Waist Packs</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Messenger Bags</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>saddle bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Travel Duffels</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Umbrellas</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Waist Packs</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Travel Gear</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>curved boxy sling</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Luggage</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Briefcases</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Bowling</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Bucket Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>floral lattice bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>Bag Accessories</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Wallet Wristlet</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Solo Premium </span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Laptop Bags</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Belts</span></a> </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-2">
                                        <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="client-side/images//menu-img1.jpg"> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a class="level-top" href="shop_grid.html"><span>Smartphones</span></a>
                        <div class="jtv-menu-block-wrapper">
                            <div class="jtv-menu-block-wrapper2">
                                <div class="nav-block jtv-nav-block-center">
                                    <div class="col-1">
                                        <ul class="level0">
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>tassel saddle bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>bucket bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Travel Accessories</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Gym Bags</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Fashion Waist Packs</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Messenger Bags</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>saddle bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Travel Duffels</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Umbrellas</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Waist Packs</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Travel Gear</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>curved boxy sling</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Luggage</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Briefcases</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Bowling</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Bucket Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>floral lattice bag</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                                </ul>
                                            </li>
                                            <li class="parent item">
                                                <a href="shop_grid.html"><span>Bag Accessories</span></a>
                                                <ul class="level1">
                                                    <li> <a href="shop_grid.html"><span>Wallet Wristlet</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Solo Premium </span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Laptop Bags</span></a> </li>
                                                    <li> <a href="shop_grid.html"><span>Belts</span></a> </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-2">
                                        <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="client-side/images//menu-img1.jpg"> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a class="level-top" href="shop_grid.html"><span>Camera & Photo</span></a>
                        <div class="jtv-menu-block-wrapper">
                            <div class="jtv-menu-block-wrapper2">
                                <div class="nav-block jtv-nav-block-center">
                                    <ul class="level0">
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Steve Madden</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Elegant </span></a> </li>
                                                <li> <a href="shop_grid.html"><span>sassy &amp; chic</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Women's Satchel</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Shoulder Bag</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>College Bags</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>fashion Backpack</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Rose Gold Saffiano</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Black Velvet</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Leather Handbags</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Material Bag</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Sling Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Diaper Bags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Laptop Backpack</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Benetton Black </span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Lino Perros</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Graphite Croco</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Swiss Military Red</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Hidesign</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Benetton</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Aquatan</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Travel Blue</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Charles & Keith</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Clutches</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>wristlets</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Kenneth Cole</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>wallets</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>shoulder bags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>satchels</span></a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="jtv-nav-banner">
                                    <div class="jtv-banner-box">
                                        <div class="jtv-nav-banner-img"> <a href="#"><img src="client-side/images//menu-img2.jpg" alt="Handbag"> </a> </div>
                                    </div>
                                    <div class="jtv-banner-box">
                                        <div class="jtv-nav-banner-img"> <a href="#"><img src="client-side/images//menu-img3.jpg" alt="Handbag"> </a> </div>
                                    </div>
                                    <div class="jtv-banner-box jtv-banner-box_last">
                                        <div class="jtv-nav-banner-img"> <a href="#"><img src="client-side/images//menu-img4.jpg" alt="Handbag"> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a class="level-top" href="shop_grid.html"><span>Apple Store</span></a>
                        <div class="jtv-menu-block-wrapper">
                            <div class="jtv-menu-block-wrapper2">
                                <div class="nav-block jtv-nav-block-center">
                                    <ul class="level0">
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Leather Laptop</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Hobo Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Fabric Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Backpack Bga</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Laptop Bga</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Brandvilla NewYork</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Print Laptop Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Office Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>shoulder bags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Blue Laptop Bag </span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Office Bag </span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Fabric Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Clownfish Synthetic</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Clutches bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Genuine bag </span></a> </li>
                                                <li> <a href="shop_grid.html"><span>WallyBags </span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Leather Bags</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Tara Vintage </span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Goatter Denim</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-menu">
                        <a class="level-top" href="shop_grid.html"><span>Computers</span></a>
                        <div class="jtv-menu-block-wrapper">
                            <div class="jtv-menu-block-wrapper2">
                                <div class="nav-block jtv-nav-block-center jtv-menu-box-left">
                                    <ul class="level0">
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Luggage &amp; Bags</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Sports</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Fitness</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                            </ul>
                                        </li>
                                        <li class="parent item">
                                            <a href="shop_grid.html"><span>Outdoors</span></a>
                                            <ul class="level1">
                                                <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                                <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-block nav-block-right std jtv-menu-box-right"><img src="client-side/images//menu-img5.jpg" alt="menu img"> </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-menu"> <a class="level-top" href="blog.html"><span>Blog</span></a> </li>
                    <li class="nav-custom-link mega-menu">
                        <a href="#" class="level-top"> <span>Buy this theme</span> </a>
                        <div class="jtv-menu-block-wrapper custom-menu">
                            <div class="header-nav-dropdown-wrapper">
                                <div class="jtv-custom-box">
                                    <i class="fa fa-laptop"></i>
                                    <h4 class="heading">100% Responsive Design</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                </div>
                                <div class="jtv-custom-box">
                                    <i class="fa fa-book"></i>
                                    <h4 class="heading">Easy Document</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut laoreet pharetra.</p>
                                </div>
                                <div class="jtv-custom-box">
                                    <i class="fa fa-fort-awesome"></i>
                                    <h4 class="heading">Awesome Icon Fonts</h4>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div class="jtv-custom-box">
                                    <i class="fa fa-home"></i>
                                    <h4 class="heading">4 Layout Home Pages</h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
*@