@model ContactPageViewModel
@{
    ViewData["MetaTitle"] = "Liên hệ | Rèm Đức Trung";
    ViewData["MetaKeywords"] = "Liên hệ";
    ViewData["MetaDescription"] = "Liên hệ | Rèm Đức Trung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9gaKzspPwRtaABhpdtgZnmnkoAxy3ek">
    </script>
    <script src="~/client-app/controllers/contact/index.js" asp-append-version="true"></script>
    <script>
        var contactObj = new ContactController();
        contactObj.initialize();
    </script>
}
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidAddress" value="@Model.ContactDetail.Address" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<!-- breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a> <span>/</span> </li>
                    <li class="category1601"> <strong>Liên hệ</strong> </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- main-container -->
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-9 wow">
                <div class="col-main">
                    <div class="page-title">
                        <h1>Liên hệ với chúng tôi</h1>
                    </div>
                    <div class="static-contain">
                        @if (ViewData["Success"] != null)
                        {

                            if ((bool)ViewData["Success"] == true)
                            {
                                <div class="alert alert-success">
                                    Cảm ơn bạn gửi thông tin thành công. Chúng tôi sẽ liên lạc với bạn sớm nhất.
                                </div>

                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Đã có lỗi khi gửi phản hồi. Vui lòng liên hệ với chúng tôi.
                                </div>

                            }
                        }
                        else
                        {
                            <form action="/lien-he" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @Html.AntiForgeryToken()
                                <fieldset class="group-select">
                                    <ul>
                                        <li id="billing-new-address-form">
                                            <fieldset>
                                                @*<input type="hidden" name="billing[address_id]" value="" id="billing:address_id">*@
                                                <ul>
                                                    <li>
                                                        <div class="customer-name">
                                                            <div>
                                                                <label for="@Model.Feedback.Name"> Tên<span class="required">*</span></label>
                                                                <br>
                                                                <input type="text" asp-for="Feedback.Name" value="" title="Tên" class="input-text ">
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="customer-email">
                                                            <div>
                                                                <label for="@Model.Feedback.Email"> Email<span class="required">*</span></label>
                                                                <br>
                                                                <input type="text" asp-for="Feedback.Name" value="" title="Email" class="input-text ">
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="customer-feedback">
                                                        <label for="comment">Nội dung phản hồi<em class="required">*</em></label>
                                                        <br>
                                                        <div style="float:none">
                                                            <textarea asp-for="Feedback.Message" title="Nội dung" class="required-entry input-text" cols="5" rows="3"></textarea>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </li>
                                        <p class="require"><em class="required">* </em>Bắt buộc phải điền</p>
                                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;">
                                        <div class="buttons-set">
                                            <button type="submit" title="Submit" class="button submit"> <span> Gửi đi </span> </button>
                                        </div>
                                    </ul>
                                </fieldset>
                            </form>
                        }

                        </div>
                </div>
                <div id="map" style="width:100%;height:500px;"></div>
            </section>
            <aside class="col-right sidebar col-sm-3 wow">
                <div class="block block-company">
                    <div class="block-title">Thông tin </div>
                    <div class="block-content">
                        <ol id="recently-viewed-items">
                            <li class="item odd"><a href="/trang/ve-chung-toi">Về chúng tôi</a></li>
                            <li class="item even"><a href="/sitemap">Sitemap</a></li>
                            @*<li class="item  odd"><a href="#">Terms of Service</a></li>
                            <li class="item even"><a href="#">Search Terms</a></li>
                            <li class="item last"><strong>Contact Us</strong></li>*@
                        </ol>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!--End main-container -->

@section Scripts {
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    @await Html.PartialAsync("_ValidationScriptsPartial")
}